@media (min-width: 768px) {

    .App {
        text-align: center;
        height: 100vh;
        display: grid;
        grid-template-rows: 50px repeat(3, 1fr);
        grid-template-columns: 75px repeat(3, auto) 75px;
    }

    .header {
        /* in App */
        grid-row: 1/2;
        grid-column: 1/-1;
        /* in header */
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(6, auto);
        background-color: #000000;
        color: white;
    }

    .masterTitle {
        /* in header */
        grid-row: 1/2;
        grid-column: 1/-1;
        text-align: center;
    }

    .photoDayDiv {
        grid-row: 2/3;
        grid-column: 2/5;
    }

    .nearEarthDiv {
        /* in App */
        grid-row: 3/4;
        grid-column: 2/5;
        /* in nearEarthDiv */
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .neoTitle {
        /* in nearEarthDiv */
        grid-row: 1/2;
        grid-column: 1/-1;
        border-bottom: 2px solid black;
        padding: 5px;
    }

    .neoDiv0 {
        /* in nearEarthDiv */
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .neoDiv1 {
        /* in nearEarthDiv */
        grid-row: 2/3;
        grid-row: 2/3;
    }

    .neoDiv2 {
        /* in nearEarthDiv */
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .imageSearchDiv {
        /* in App */
        grid-row: 4/5;
        grid-column: 2/5;
        padding: 20px 20px 40px 20px;
    }

    .searchTitle {
        border-bottom: 2px solid black;
    }

}