body {
    background-color: #969696;
}

a:link {
    text-decoration: none;
    /* color: white; */
}

a:visited {
    text-decoration: none;
    /* color: white; */
}

img {
    box-shadow: 0 0 10px black;
}


/* start mobile */
@media (max-width: 768px) {

    button, .roverDropdown, .cameraDropdown {
        border: 1px solid black;
        border-radius: 5px;
    }

    .App {
        text-align: center;
        height: 100vh;
        display: grid;
        grid-template-rows: 140px repeat(3, 1fr);
        /* 140px = header */
        /* 1fr = photoDayDiv */
        /* 1fr = nearEarthDiv - commented out */
        /* 1fr = imageSearchDiv */
        /* 1fr = marsDiv */
        grid-template-columns: 20px 1fr 20px;
    }

    .header {
        /* in App */
        grid-row: 1/2;
        grid-column: 1/-1;
        /* in header */
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        background-color: #000000;
        color: white;
        text-align: center;
        top: 0px;
        position: fixed;
        padding: 5px;
        box-shadow: 0 0 10px black;
    }

    .masterTitle {
        /* in header */
        grid-row: 1/2;
        grid-column: 1/-1;
        text-align: center;
    }

    .poweredBy {
        /* in header */
        grid-row: 2/3;
        grid-column: 1/-1;
        text-align: center;
        padding: 5px;
        /* in poweredBy */
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, auto);
    }

    .poweredText {
        /* in poweredBy */
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: right;
        padding-right: 5px;
    }

    .logoDiv {
        /* in poweredBy */
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: left;
    }

    .navbar {
        display: none;
    }

    /* ---- */

    .photoDayDiv {
        /* in App */
        grid-row: 2/3;
        grid-column: 2/3;
    }

    /* ---- */

    .nearEarthDiv {
        /* in App */
        grid-row: 3/4;
        grid-column: 2/3;
        /* in nearEarthDiv */
        display: grid;
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .neoTitle {
        /* in nearEarthDiv */
        grid-row: 1/2;
        grid-column: 1/-1;
        border-bottom: 2px solid black;
        padding: 5px;
    }

    .neoDiv0 {
        /* in nearEarthDiv */
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    .neoDiv1 {
        /* in nearEarthDiv */
        grid-row: 3/4;
        grid-column: 1/-1;
    }

    .neoDiv2 {
        /* in nearEarthDiv */
        grid-row: 4/5;
        grid-column: 1/-1;
    }

    /* ---- */

    .imageSearchDiv {
        /* in App */
        grid-row: 4/5;
        grid-column: 2/3;
        margin-top: 20px;
    }

    .searchTitle {
        border-bottom: 2px solid black;
    }

    .imageSearchForm {
        padding: 10px;
    }

    /* ---- */

    .marsDiv {
        /* in App */
        grid-row: 5/6;
        grid-column: 2/3;
        /* in marsDiv */
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
        margin-bottom: 100px;
        margin-top: 20px;
    }

    .marsTitle {
        /* in marsDiv */
        grid-row: 1/2;
        grid-column: 1/-1;
        border-bottom: 2px solid black;
        padding: 5px;
    }

    .marsForm {
        /* in marsDiv */
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    .spinner {
        box-shadow: none;
        width: 75px;
    }

}
/* end mobile */


/* start desktop */
@media (min-width: 769px) {

    .App {
        text-align: center;
        height: 100vh;
        display: grid;
        grid-template-rows: 135px repeat(4, 1fr);
        /* 135px = header */
        /* 1fr = photoDayDiv */
        /* 1fr = nearEarthDiv */
        /* 1fr = imageSearchDiv */
        /* 1fr = marsDiv */
        grid-template-columns: 75px repeat(3, auto) 75px;
        scroll-snap-type: y mandatory;
    }

    .header {
        /* in App */
        grid-row: 1/2;
        grid-column: 1/-1;
        /* in header */
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        background-color: #000000;
        color: white;
        text-align: center;
        top: 0px;
        position: fixed;
        padding: 5px;
        width: 100%;
    }

    .masterTitle {
        /* in header */
        grid-row: 1/2;
        grid-column: 1/-1;
        text-align: center;
    }

    .poweredBy {
        /* in header */
        grid-row: 2/3;
        grid-column: 1/-1;
        text-align: center;
        border-bottom: 1px solid white;
        padding: 5px 0px 10px 0px;
        /* in poweredBy */
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .poweredText {
        /* in poweredBy */
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: right;
        padding-right: 5px;
    }

    .logoDiv {
        /* in poweredBy */
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: left;
    }

    .navbar {
        /* in header */
        grid-row: 3/4;
        grid-column: 1/-1;
        text-align: center;
        /* in navbar */
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(5, auto);
        padding: 10px 0px 5px 0px;
    }

    #apodNav {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    /* #neoNav {
        grid-row: 1/2;
        grid-column: 3/4;
    } */

    #imageNav {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    #marsNav {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    /* ---- */

    .photoDayDiv {
        /* in App */
        grid-row: 2/3;
        grid-column: 2/5;
        padding-top: 50px;
        scroll-snap-align: center;
    }

    .photoTitle {
        padding: 5px;
        border-bottom: 2px solid black;
    }

    /* ---- */

    .nearEarthDiv {
        /* in App */
        grid-row: 3/4;
        grid-column: 2/5;
        /* in nearEarthDiv */
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 60px;
        scroll-snap-align: center;
    }

    .neoTitle {
        /* in nearEarthDiv */
        grid-row: 1/2;
        grid-column: 1/-1;
        border-bottom: 2px solid black;
        padding: 5px;
    }

    .neoDiv0 {
        /* in nearEarthDiv */
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .neoDiv1 {
        /* in nearEarthDiv */
        grid-row: 2/3;
        grid-row: 2/3;
    }

    .neoDiv2 {
        /* in nearEarthDiv */
        grid-row: 2/3;
        grid-column: 3/4;
    }

    /* ---- */

    .imageSearchDiv {
        /* in App */
        grid-row: 4/5;
        grid-column: 2/5;
        padding: 20px 20px 40px 20px;
        padding-top: 60px;
        scroll-snap-align: start;
    }

    .searchTitle {
        border-bottom: 2px solid black;
    }

    .imageSearchForm {
        padding: 10px;
    }

    /* ---- */

    .marsDiv {
        /* in App */
        grid-row: 5/6;
        grid-column: 2/5;
        /* in marsDiv */
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;
        padding-top: 50px;
        scroll-snap-align: start;
    }

    .marsTitle {
        /* in marsDiv */
        grid-row: 1/2;
        grid-column: 1/-1;
        border-bottom: 2px solid black;
        padding: 5px;
    }

    .marsForm {
        /* in marsDiv */
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    .spinner {
        box-shadow: none;
        width: 75px;
    }

}
/* end desktop */